

				<? if (backend && backend.article) { ?>

					<? if (session.account) { ?>
					<form class="form-update-article" action="" method="post">
						<div class="submit">
							<label><button class="update-article-button"><span class="fa fa-pencil-square-o" aria-hidden="true"></span> <?= specific.article.updateArticle.button ?></button></label>
							<label><button data-prompt="<?= specific.article.updateArticle.prompt ?>" class="delete-article-button"><span class="fa fa-trash" aria-hidden="true"></span> <?= specific.article.updateArticle.delete ?></button></label>
						</div>
					</form>
					<? } ?>

					<aside class="share-buttons">
						<a class="share-btn share-btn-branded share-btn-twitter" href="https://www.twitter.com/intent/tweet?text=<?- backend.article.title ?>&amp;url=<?- urlBasePath + common.articles.readMore.href.replace(/%urn%/g, backend.article.urn).slice(1) ?>&amp;via=MachinisteWeb" title="<?= common.shareOn.share + ' ' + common.shareOn.on ?> Twitter">
							<span class="fa fa-twitter"></span>
							<span class="share-btn-text">Twitter</span>
						</a>
						<a class="share-btn share-btn-branded share-btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=<?- urlBasePath + common.articles.readMore.href.replace(/%urn%/g, backend.article.urn).slice(1) ?>" title="<?= common.shareOn.share + ' ' + common.shareOn.on ?> Facebook">
							<span class="fa fa-facebook"></span>
							<span class="share-btn-text">Facebook</span>
						</a>
						<a class="share-btn share-btn-branded share-btn-googleplus" href="https://plus.google.com/share?url=<?- urlBasePath + common.articles.readMore.href.replace(/%urn%/g, backend.article.urn).slice(1) ?>" title="<?= common.shareOn.share + ' ' + common.shareOn.on ?> Google+">
							<span class="fa fa-google-plus"></span>
							<span class="share-btn-text">Google+</span>
						</a>
						<a class="share-btn share-btn-branded share-btn-linkedin" href="https://www.linkedin.com/shareArticle?url=<?- urlBasePath + common.articles.readMore.href.replace(/%urn%/g, backend.article.urn).slice(1) ?>" title="<?= common.shareOn.share + ' ' + common.shareOn.on ?> LinkedIn">
							<span class="fa fa-linkedin"></span>
							<span class="share-btn-text">LinkedIn</span>
						</a>
						<a class="share-btn share-btn-branded share-btn-viadeo" href="http://www.viadeo.com/shareit/share/?url=<?- urlBasePath + common.articles.readMore.href.replace(/%urn%/g, backend.article.urn).slice(1) ?>" title="<?= common.shareOn.share + ' ' + common.shareOn.on ?> Viadeo">
							<span class="fa fa-viadeo"></span>
							<span class="share-btn-text">Viadeo</span>
						</a>
						<a class="share-btn share-btn-branded share-btn-pinterest" href="https://www.pinterest.com/pin/create/button/?url=<?- urlBasePath + common.articles.readMore.href.replace(/%urn%/g, backend.article.urn).slice(1) ?>&media=<?= specific.image ?>&description=<?- backend.article.title ?>" title="<?= common.shareOn.share + ' ' + common.shareOn.on ?> Pinterest">
							<span class="fa fa-pinterest"></span>
							<span class="share-btn-text">Pinterest</span>
						</a>
						<a class="share-btn share-btn-email" href="mailto:?subject=<?- backend.article.title ?>&amp;body=<?- urlBasePath + common.articles.readMore.href.replace(/%urn%/g, backend.article.urn).slice(1) ?>" title="<?= common.shareOn.share + ' ' + common.shareOn.by ?> Email">
							<span class="fa fa-envelope"></span>
							<span class="share-btn-text">Email</span>
						</a>
						<a class="share-btn share-btn-more" href="https://www.addtoany.com/share_save?linkurl=<?- urlBasePath + common.articles.readMore.href.replace(/%urn%/g, backend.article.urn).slice(1) ?>" title="<?= common.shareOn.share ?>">
							<span class="fa fa-share-alt"></span>
							<span class="share-btn-text">Partager</span>
						</a>
					</aside>

					<article class="article" data-urn="<?= backend.article.urn ?>" <? if (backend.article.others.markdown) { ?>data-markdown="true"<? } ?> data-published="<?= (backend.article.others.published) ? "true" : "false" ?>">
						<h1><?- backend.article.title ?></h1>
						<div class="published">
							<? var month = backend.article.dates.published.getMonth() + 1 ?>
							<? month = ((month.toString().length > 1) ? '' : '0') + month ?>
							<? var fullMonth = common.dates.months[backend.article.dates.published.getMonth()] ?>
							<? var fullYear = backend.article.dates.published.getFullYear() ?>
							<a href="<?- common.listDate.linkMonth.href.replace(/%year%/g, fullYear).replace(/%month%/g, month) ?>" title="<?- common.listDate.linkMonth.title.replace(/%year%/g, fullYear).replace(/%month%/g, fullMonth) ?>"><span class="fa fa-clock-o" aria-hidden="true"></span> <time datetime="<?= backend.article.dates.format.time ?>"><?- backend.article.dates.format.string ?></time></a>
						</div>
						<div class="comments">
							<a href="<?- common.articles.readMore.href.replace(/%urn%/g, backend.article.urn) ?>#disqus" title="<?- backend.article.title.replace(/<\/?span>/g, '') ?>"><span class="fa fa-comment-o"></span> <span class="disqus-comment-count" data-disqus-identifier="<?= backend.article.urn ?>">0 <?- common.comments.commentSimple ?></span></a>
						</div>
						<div class="text">
							<?- backend.article.content ?>
						</div>
					</article>

				<? } else { ?>

					<div class="no-article" data-urn="<?= urlPath.match(/([^\/]+)\/?$/g)[0].replace("/","") ?>">
						<section>
							<h1><?- (session.account) ? specific.noArticle.noArticle : common.error404.title ?></h1>

							<p><?- (session.account) ? specific.noArticle.createOne : specific.noArticle.noArticle ?></p>

							<? if (session.account) { ?>
								<form class="form-create-article" action="<?= urlPath ?>" method="POST">
									<div class="field">
										<label for="create-article-title"><?- specific.noArticle.createArticle.title.label ?></label>
										<input type="text" id="create-article-title" name="create-article-title" class="create-article-title" value="<?= urlPath.match(/([^\/]+)\/$/g)[0].replace("/","").replace(/-/g," ") ?>">
										<div class="errors">
											<div class="empty"><?- specific.noArticle.createArticle.title.errors.empty ?></div>
										</div>
									</div>
									<div class="submit">
										<button class="create-article-button"><?= specific.noArticle.createArticle.button ?></button>
									</div>
								</form>
							<? } else { ?>
								<figure>
									<img src="media/images/404.png" alt="You found a dead Link" width="265" height="120" style="max-width: 100%;">
									<figcaption>You found a dead Link!</figcaption>
								</figure>
							<? } ?>
						</section>
					</div>
				<? } ?>