		<footer id="footer" class="footer">
			<div class="copyright"><?- common.copyright ?></div>
			<div class="engine"><?- common.engine ?></div>
		</footer>	
	</div>

	<? if (webconfig._min) { ?>
	<script type="text/javascript" src="javascripts/framework.<?= webconfig.version ?>.min.js"></script>
	<? } else { ?>
	<script type="text/javascript" src="javascripts/socket.io.js"></script>
	<script type="text/javascript" src="node-atlas/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/modernizr.js"></script>
	<script type="text/javascript" src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/prettify.js"></script>
	<script type="text/javascript" src="javascripts/prettify/run_prettify.js"></script>
	<? } ?>