		<header id="header" class="header">
			<? var tag = (specific.classLayout === "home") ? "h1" : "div" ?>
			<<?= tag ?>>
				<a href="<?- common.logo.href ?>" title="<?- common.logo.title ?>">
					<?- common.logo.content ?>
				</a>
			</<?= tag ?>>
		</header>

		<span class="menu">
			<span class="top"></span>
			<span class="middle"></span>
			<span class="bottom"></span>
		</span>
		<nav class="main" id="menu">
			<div class="main--inner">
				<h3><?- common.mainMenu.mainTitle ?></h3>
				<ul>
					<? for (var i = 0; i < common.mainMenu.section.length; i++) { ?>
					<li class="<?- common.mainMenu.section[i].class ?>">
						<a href="<?- common.mainMenu.section[i].href ?>" title="<?- common.mainMenu.section[i].title ?>"><?- common.mainMenu.section[i].content ?></a>
					</li>
					<? } ?>
				</ul>
			</div>
		</nav>

		<nav class="breadcrumb">
			<h3><?- common.breadcrumb.title ?></h3>
			<ol>
				<? for (var i = 0; i < specific.breadcrumb.items.length; i++) { ?>
				<li>
					<? if (specific.breadcrumb.items[i].title !== '') { ?>
						<a href="<?- specific.breadcrumb.items[i].href ?>" title="<?- specific.breadcrumb.items[i].title ?>"><span class="fa fa-chevron-right" aria-hidden="true"></span> <?- specific.breadcrumb.items[i].content ?></a>
					<? } else { ?>
						<span class="fa fa-chevron-right" aria-hidden="true"></span> <?- specific.breadcrumb.items[i].content ?>
					<? } ?>
				</li>
				<? } ?>
			</ol>
		</nav>