	</head>
	<body class="<?= specific.classLayout ?>">
		<noscript>
			<p><?= common.javascriptDisable ?></p>
		</noscript>

		<div class="permalink">
			<?= common.permalink ?> <span><?= urlPath ?></span>
		</div>

		<div class="skip-link">
			<span><?= common.skipLink.title ?></span>
			<ul>
				<? for (var i = 0; i < common.skipLink.items.length; i++) { ?>				
				<li>
					<a href="<?= urlPath ?><?= common.skipLink.items[i].href ?>" title="<?= common.skipLink.items[i].title ?>"><?= common.skipLink.items[i].content ?></a>
				</li>
				<? } ?>								
			</ul>
		</div>

		<div class="wrap-content">