<!DOCTYPE html>
<html lang="fr-fr" class="<?= (webconfig._min) ? 'min' : '' ?>">
	<head>
		<meta charset="utf-8" />
		<title><?= specific.titlePage ?></title>

		<base href="<?= urlBasePath ?>/" />

		<meta name="description" content="<?= specific.description ?>" />
		<meta name="geo.placename" content="<?= common.placename ?>" />
		<meta name="robots" content="<?= common.indexFollow ?>" />
		<meta name="author" content="Bruno J. S. Lesieur">

		<meta property="og:locale" content="fr-fr">
		<meta property="og:type" content="<?= (routeParameters.view !== 'article.htm') ? 'website' : 'article' ?>">
		<meta property="og:title" content="<?= specific.titlePage ?>">
		<meta property="og:description" content="<?= specific.description ?>">
		<meta property="og:author" content="Bruno J. S. Lesieur">
		<meta property="og:url" content="<?= urlPath ?>">
		<meta property="og:site_name" content="Quelques #ID et beaucoup de .CLASS">
		<? if (typeof backend !== 'undefined' && backend.article && backend.article.dates && backend.article.dates.format && backend.article.dates.format.time) { ?><meta property="og:article:published_time" content="<?= backend.article.dates.format.time.replace(/\.000/g, '-0000') ?>"><? } ?>
		<? if (specific.image) { ?><meta property="og:image" content="<?= specific.image ?>"><? } ?>

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@ZetesEthique" />
		<meta name="twitter:title" content="<?= specific.titlePage ?>" />
		<meta name="twitter:description" content="<?= specific.description ?>" />
		<? if (specific.image) { ?><meta name="twitter:image" content="<?= specific.image ?>"><? } ?>

		<link rel="canonical" href="<?= urlPath ?>" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="alternate" type="application/rss+xml" title="Quelques #ID et beaucoup de .CLASS" href="<?= urlBasePath ?><?= common.rss.feedUrl ?>" />

		<? if (webconfig._min) { ?>
		<link rel="stylesheet" type="text/css" href="stylesheets/common.<?= webconfig.version ?>.min.css" />
		<? } else { ?>
		<link rel="stylesheet" type="text/css" href="stylesheets/lato.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/fontawesome.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/common.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/common-min780.css" media="screen and (min-width: 780px)" />
		<link rel="stylesheet" type="text/css" href="stylesheets/common-min1160.css" media="screen and (min-width: 1160px)" />
		<? } ?>

		<? if ((typeof backend !== 'undefined' && backend.article && backend.article.stylesheet) || (typeof session !== 'undefined' && session.account)) { ?>
			<style class="stylesheet" type="text/css"><?- (typeof backend !== 'undefined' && backend.article && backend.article.stylesheet) ? backend.article.stylesheet : "" ?></style>
		<? } ?>