<? include partials/master-head.htm ?>

<? include partials/master-content.htm ?>

		<div id="content" class="content">

			<section class="error-404">
				<h1><?- common.error404.title ?></h1>

				<p><?- common.error404.content ?></p>

				<figure>
					<img src="media/images/404.png" alt="You found a dead Link" width="265" height="120" style="max-width: 100%;">
					<figcaption>You found a dead Link!</figcaption>
				</figure>
			</section>
		</div>

<? include partials/header.htm ?>
<? include partials/footer.htm ?>
		<script type="text/javascript" src="javascripts/jquery.form.js"></script>
<? include partials/master-foot.htm ?>