<? include partials/master-head.htm ?>

<? include partials/master-content.htm ?>

		<aside class="to-know">
			<div class="about-site">
				<h2><?- common.aboutSite.title ?></h2>

				<p><?- common.aboutSite.content ?></p>
			</div>
		</aside>

		<div id="content" class="content">

			<? include partials/articles.htm ?>

			<div class="prev-next">
				<h2>Plus d'articles <ul><li><a href="./archives/" title="Plus d'article par date"><span class="fa fa-calendar" aria-hidden="true"></span> par date</a> ou</li><li><a href="./categories/" title="Plus d'article par catégorie"><span class="fa fa-folder-o" aria-hidden="true"></span> par catégorie</a>.</li></h2>
			</div>

		</div>

<? include partials/header.htm ?>
<? include partials/footer.htm ?>

<? include partials/master-foot.htm ?>