/*------------------------------------*\
    $SUMMARY
\*------------------------------------*/

/**
 * SUMMARY.................It's me !
 * SERVER FONTS............Font on server.
 * RESET...................Same render for all browser.
 * COMMONS.................Common and useful behaviors.
 * ANIMATIONS..............Dynamically change display of markup.
 * MOBILE+ DESIGN..........Use for placement of item on mobiles and higher.
 *** Markup
 *** Component
 *** Layout
 */





/*------------------------------------*\
    $SERVER FONTS
\*------------------------------------*/

@font-face {
	font-family: 'Icons';
 	src: url('../media/fonts/icons.eot');
	src:
		url('../media/fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../media/fonts/icons.svg#icons') format('svg'),
		url('../media/fonts/icons.woff') format('woff'),
		url('../media/fonts/icons.ttf') format('truetype')
	;

	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}





/*------------------------------------*\
    $RESET
\*------------------------------------*/





/*------------------------------------*\
    $COMMONS
\*------------------------------------*/

.permalink,
.skip-link,
.errors {
	display: none;
}

.wrap-content:after {
	clear: both;
	content: "";
	display: block;
}

.icon {
	display: inline-block;
	margin: 0 .25em 0 0;
	width: 1.23em;
	height: 1em;
	font-family: Icons;
	opacity: 0.75;
	font-style: normal;
	line-height: 1;
	font-weight: 400;
	text-decoration: inherit;
	text-align: center;
	speak: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
}

.icon.time:before {
	content: "\f017";
}

.icon.double.angle.right:before {
	content: "\f101";
}

.icon.comment:before {
	content: "\f075";
}



/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/





/*------------------------------------*\
    $MOBILE+ STYLES
\*------------------------------------*/



/***********/
/* $Markup */
/***********/

html {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}

/* Menu */
blockquote :nth-child(2) > strong > em,
blockquote :first-child > strong > em {
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #E4ECF8;
	text-indent: -7777px;
}

/* best */
blockquote :nth-child(2) > strong > samp,
blockquote :first-child > strong > samp {
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #ECFAF6;
	text-indent: -7777px;
}

/* worst */
blockquote :nth-child(2) > em > samp,
blockquote :first-child > em > samp {
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #FDF4EC;
	text-indent: -7777px;
}

.delete-article-button,
a {
	color: #48739E;
	text-decoration: none;
}

a:visited {
	color: #48739E;
}

.delete-article-button:hover,
a:visited:hover,
a:hover {
	color: #CC0000;
}

input[type=button],
input[type=submit] {
	cursor: pointer;
}

body {
	margin: 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 21px;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	font-weight: 300;
	padding: 8px;
}

header div,
h1 {
	font-size: 28px;
	font-size: 2.8rem;
}

header div,
header h1 {
	width: 300px;
	position: absolute;
	top: 8px;
	left: 8px;
}

.menu {
	width: 48px;
	height: 32px;
	position: absolute;
	display: inline-block;
	top: 8px;
	right: 8px;
}

.menu:after {
	content: "";
	position: absolute;
	right: 0.25em;
	top: 0.25em;
	width: 48px;
	height: 6px;
	background: rgb(240, 240, 240);
	box-shadow: 0 12px 0 0 rgb(240, 240, 240), 0 24px 0 0 rgb(240, 240, 240);
}

header div,
h1, 
h2, 
h3 {
	line-height: 1.3;
}

header div,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #222;
	margin: 32px 0 0;
	font-weight: normal;
}

h4, 
h5, 
h6 {
	margin: 24px 0 0;
}

img,
p, 
blockquote,
ul, 
ol, 
table, 
pre, 
dl {
	margin: 16px 0 0;	
}

blockquote {
	padding: 8px;
	position: relative;	
}
blockquote:before {
	content: "";
	display: block;
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	background-color: #F7F7F7;
	text-indent: -7777px;
}

blockquote :first-child {
	margin-top: 0;
}

hr {
	border: 0;
	margin-top: 32px;
	border-top: 1px solid rgba(102, 128, 153, 0.1);
}

textarea {
	width: 100%;
}

.footer {
	margin: 16px 0 0 0;
}

header div,
.header h1 {
	margin-top: 0;
}

.header .second {
	font-size: 16px;
	font-size: 1.6rem;
	display: block;
	text-align: center;
}

@media (max-width: 320px) {
	header div,
	header h1 {
		width: 90%;
		top: 0;
		left: 0;
		padding: 8px;
	}
	.header .second {
		text-align: right;
	}
}

.header div a {
	text-decoration: none;
}

.breadcrumb ol {
	list-style-type: none;
	padding-left: 0;
}

.breadcrumb li {
	display: inline-block;
}

.wrap-content {
	margin-top: 80px;
}



/**************/
/* $Component */
/**************/

.comments ins {
	text-decoration: none;
}

.engine {
	margin-top: 8px;
}
.main li {
	margin-top: 16px;
}

.field,
.submit {
	margin: 8px 0 0;	
}

.best-practice .content > :first-child,
.correct-practice .content > :first-child,
.worst-practice .content :first-child,
.content form:first-child > :first-child,
.content section:first-child > :first-child,
.content article:first-child > :first-child {
	margin-top: 0;
}

@media (max-width: 779px) {
	.home .content section:first-child > :first-child,
	.articles-by-year .content section:first-child > :first-child,
	.articles-by-month .content section:first-child > :first-child,
	.articles-by-category .content section:first-child > :first-child {
		margin-top: 32px;
	}
}

.articles .categories ul {
	margin-top: 24px;
}

.article .categories ul {
	margin-top: 8px;
}

.article .categories ul,
.articles .categories ul {
	padding-left: 4px;
}

.article .categories li,
.articles .categories li {
	display: inline-block;
	margin-right: 8px;
	margin-top: 8px;
	padding: 2px 8px;
	border-radius: 4px;
	background-color: #EFF2F4;
	margin-left: -4px;
}

.published,
article .comments,
.articles .comments {
	display: inline-block;
	margin-top: 16px;
	margin-right: 16px;
	padding-left: 16px;
	position: relative;
}

.categories strong {
	cursor: pointer;
}

.correct-practice, 
.best-practice, 
.worst-practice {
	margin: 0;
	margin-top: 12px;
	padding: 0;
	border-radius: 4px;
}

.correct-practice .title, 
.worst-practice .title, 
.best-practice .title {
	margin: 4px;
	padding: 2px 6px 2px 6px;
}

.correct-practice .content, 
.best-practice .content, 
.worst-practice .content {
	margin: 4px 4px 4px 4px;
	padding: 2px 6px 2px 6px;
}

.correct-practice .title + .content, 
.best-practice .title + .content, 
.worst-practice .title + .content {
	margin: 0 4px 4px 4px;
}

.best-practice {
	border: solid 1px #fff;
	background-color: #E4F8F2;
}

.best-practice .title {
	background-color: #C4E4D4;
}

.best-practice .content {
	background-color: #ecfaf6;
	border: dashed 1px #c4e4d4;
}

.worst-practice {
	border: solid 1px #fff;
	background-color: #F8ECE4;
}

.worst-practice .title {
	background-color: #EED0CA;
}

.worst-practice .content {
	background-color: #FDF4EC;
	border: dashed 1px #EED0CA;
}

.correct-practice {
	border: solid 1px #fff;
	background-color: #E4ECF8;
}

.correct-practice .title {
	background-color: #CAD0EE;
}

.correct-practice .content {
	background-color: #F4F8FD;
	border: dashed 1px #CAD0EE;
}

.pln { 
	color: #000;
}

.str { 
	color: #800080;
}

.kwd { 
	color: #008;
}

.com { 
	color: #008000;
	font-style: italic;
}

.typ { 
	color: #606;
}

.lit { 
	color: #066;
}

.pun,
.opn,
.clo { 
	color: #660; 
}
.tag {
	color: #008; 
}

.atn { 
	color: #606; 
}

.atv { 
	color: #080; 
 }

.dec, 
.var { 
	color: #606; 
 } 

.fun { 
	color: red; 
}

pre.prettyprint { 
	font-family: monospace;
	padding: 2px;
	border: 1px dashed #ccc;
	overflow-y: auto;
	background: #fff;
	cursor: e-resize;
	font-size: 1.0em;
}

ol.linenums { 
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 35px;
}

li.L0,
li.L2,
li.L4,
li.L6,
li.L8 { 
	background: #fff;
	color: #ccc;
 }

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { 
	background: #fbfbfb; 	
	color: #ccc;
}

.disqus {
	margin-top: 16px;
}

.delete-article-button {
	cursor: pointer;
	border: 0;
	background-color: transparent;
}


.summary ul  {
	margin-top: 0;
	list-style-type: circle;
}

.summary > ul:nth-child(2)  {
	margin-top: 16px;
}

.summary ul li {
	font-size: 16px;
	margin-top: 4px;
}

.summary ul li > ul li {
	font-size: 15px;
}

.summary ul li > ul li > ul li {
	font-size: 14px;
}

.summary ul li > ul li  > ul li > ul li {
	font-size: 13px;
}


.summary ul li > ul li  > ul li > ul li > ul li {
	font-size: 12px;
}

.summary ul ul {
	padding-left: 16px;
}


/***********/
/* $Layout */
/***********/


.articles-by-year .archives ul,
.articles-by-month .archives ul,
.articles-by-category .categories ul {
	list-style-type: circle;
}

.articles-by-year .archives h1,
.articles-by-month .archives h1,
.articles-by-category .categories h1 {
	font-size: 21px;
	font-size: 2.1rem;
}

.articles-by-year .archives h2,
.articles-by-month .archives h2,
.articles-by-category .categories h2 {
	font-size: 16px;
	font-size: 1.6rem;
}

.articles-by-year .archives h3,
.articles-by-month .archives h3,
.articles-by-category .categories h3,
.articles-by-category .categories h3 {
	font-size: 15px;
	font-size: 1.5rem;
}

.articles-by-category .categories h4 {
	font-size: 14px;
	font-size: 1.4rem;
}

.articles-by-year .to-know .archives ul,
.articles-by-year .to-know .archives h2,
.articles-by-year .to-know .archives h3,
.articles-by-year .to-know .archives h4,
.articles-by-month .to-know .archives ul,
.articles-by-month .to-know .archives h2,
.articles-by-month .to-know .archives h3,
.articles-by-month .to-know .archives h4,
.articles-by-category .to-know .categories ul,
.articles-by-category .to-know .categories h2,
.articles-by-category .to-know .categories h3,
.articles-by-category .to-know .categories h4 {
	margin-top: 0;
}

.articles-by-year .to-know .archives li,
.articles-by-month .to-know .archives li,
.articles-by-category .to-know .categories li {
	margin-top: 4px;
}

.articles-by-year .archives li,
.articles-by-month .archives li {
	display: inline-block;
}

.articles-by-year .archives ul ul li a:after,
.articles-by-month .archives ul ul li a:after {
	content: "/";
	display: inline-block;
	margin-left: 6px;
	margin-right: 4px;
}

.articles-by-year .archives ul ul li:last-child a:after,
.articles-by-month .archives ul ul li:last-child a:after {
	content: "";
}

.articles-by-year .to-know .archives > :nth-child(2),
.articles-by-month .to-know .archives > :nth-child(2),
.articles-by-category .to-know .categories > :nth-child(2) {
	margin-top: 16px;
}

.articles-by-month .archives ul ul,
.articles-by-year .archives ul ul {
	padding-left: 24px;	
}
.articles-by-category .categories ul ul {
	padding-left: 16px;
}

.about-author figure {
	float: left;
	margin: 0;
	margin-top: 4px;
	margin-right: 8px;
}

.about-author img {
	margin: 0;
}

.popup {
	display: none;
}

figure {
	text-align: center;
	margin-left:0;
	margin-right:0;
}
figure img {
	max-width: 100%;
}
figure figcaption {
	font-style: italic;
}