/*------------------------------------*\
    $SUMMARY
\*------------------------------------*/

/**
 * DESKTOP+ DESIGN..........Use for placement of item on mobiles and higher.
 *** Markup
 *** Component
 *** Layout
 */





/*------------------------------------*\
    $DESKTOP+ STYLES
\*------------------------------------*/



/***********/
/* $Markup */
/***********/

body {
	padding: 48px;
}



/**************/
/* $Component */
/**************/

.main {
	position: fixed;
	top: 0;
	right: 16px;
}

.wrap-content {
	width: 968px;
	margin: 0 auto;
}

.breadcrumb,
.header {
	width: 320px;
	margin: 0 auto;
	position: fixed;
	top: 0;
	z-index: 2;
}

.header {
	padding-top: 48px;
	background-color: #FFF;
}

.breadcrumb {
	top: 104px;
	background-color: #FFF;
	padding-top: 16px;
	padding-bottom: 8px;
}

.breadcrumb:after {
	content: "";
	display: block;
	width: 100%;
	height: 40px;
	background-color: #FF0;
	bottom: -40px;
	position: absolute;
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	
}

.disqus,
.wrap-content > .content {
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	float: right;
}

.footer {
	width: 320px;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	padding-bottom: 48px;
	padding-top: 8px;
	background-color: #FFF;
}

.footer:before {
	content: "";
	display: block;
	width: 100%;
	height: 40px;
	background-color: #FF0;
	top: -40px;
	position: absolute;
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	
}

.wrap-content > .categories,
.about-author,
.about-site {
	float: left;
	width: 320px;
}

.about-author,
.about-site {
	margin-top: 120px;	
}

.about-site,
.wrap-content > .categories {
	margin-bottom: 80px;	
}



/***********/
/* $Layout */
/***********/




