/*------------------------------------*\
    $SUMMARY
\*------------------------------------*/

/**
 * SUMMARY.................It's me !
 * SERVER FONTS............Font on server.
 * RESET...................Same render for all browser.
 * COMMONS.................Common and useful behaviors.
 * ANIMATIONS..............Dynamically change display of markup.
 * MOBILE+ DESIGN..........Use for placement of item on mobiles and higher.
 *** Markup
 *** Component
 *** Layout
 */





/*------------------------------------*\
    $SERVER FONTS
\*------------------------------------*/

@font-face {
	font-family: 'Icons';
 	src: url('../media/fonts/icons.eot');
	src:
		url('../media/fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../media/fonts/icons.svg#icons') format('svg'),
		url('../media/fonts/icons.woff') format('woff'),
		url('../media/fonts/icons.ttf') format('truetype')
	;

	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}





/*------------------------------------*\
    $RESET
\*------------------------------------*/





/*------------------------------------*\
    $COMMONS
\*------------------------------------*/

.permalink,
.skip-link,
.errors {
	display: none;
}

.errors {
	color: #CC0000;
}

.wrap-content:after {
	clear: both;
	content: "";
	display: block;
}

.icon {
	display: inline-block;
	margin: 0 .25em 0 0;
	width: 1.23em;
	height: 1em;
	font-family: Icons;
	opacity: 0.75;
	font-style: normal;
	line-height: 1;
	font-weight: 400;
	text-decoration: inherit;
	text-align: center;
	speak: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
}

.icon.time:before {
	content: "\f017";
}

.icon.double.angle.right:before {
	content: "\f101";
}

.icon.comment:before {
	content: "\f075";
}



/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/





/*------------------------------------*\
    $MOBILE+ STYLES
\*------------------------------------*/



/***********/
/* $Markup */
/***********/

html {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}

/* Menu */
blockquote :nth-child(2) > strong > em,
blockquote :first-child > strong > em {
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #E4ECF8;
	text-indent: -7777px;
}

/* best */
blockquote :nth-child(2) > strong > samp,
blockquote :first-child > strong > samp {
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #ECFAF6;
	text-indent: -7777px;
}

/* worst */
blockquote :nth-child(2) > em > samp,
blockquote :first-child > em > samp {
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #FDF4EC;
	text-indent: -7777px;
}

.delete-article-button,
a {
	color: #48739E;
	text-decoration: none;
}

a:visited {
	color: #48739E;
}

.delete-article-button:hover,
a:visited:hover,
a:hover {
	color: #CC0000;
}

body {
	margin: 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 21px;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	font-weight: 300;
	padding: 8px;
}

header div,
h1 {
	font-size: 28px;
	font-size: 2.8rem;
}

header div,
header h1 {
	width: 300px;
	position: absolute;
	top: 8px;
	left: 8px;
}

.menu {
	width: 48px;
	height: 32px;
	position: absolute;
	display: inline-block;
	top: 8px;
	right: 8px;
}

.menu:after {
	content: "";
	position: absolute;
	right: 0.25em;
	top: 0.25em;
	width: 48px;
	height: 6px;
	background: rgb(240, 240, 240);
	box-shadow: 0 12px 0 0 rgb(240, 240, 240), 0 24px 0 0 rgb(240, 240, 240);
}

header div,
h1, 
h2, 
h3 {
	line-height: 1.3;
}

header div,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	margin: 32px 0 0;
	font-weight: normal;
}

h1 {
	color: #333;	
}

h2 {
	color: #222;	
}

h3 {
	color: #111;	
}
h4, 
h5, 
h6 {
	color: #000;
}

h4, 
h5, 
h6 {
	margin: 24px 0 0;
}

i, em {
	color: #000;
}
b, strong {
	color: #777;
}

img,
p, 
blockquote,
ul, 
ol, 
table, 
pre, 
dl {
	margin: 16px 0 0;	
}

blockquote {
	padding: 8px;
	position: relative;	
}
blockquote:before {
	content: "";
	display: block;
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	background-color: #F7F7F7;
	text-indent: -7777px;
}

blockquote :first-child {
	margin-top: 0;
}

hr {
	border: 0;
	margin-top: 32px;
	border-top: 1px solid rgba(102, 128, 153, 0.1);
}

textarea {
	width: 100%;
}


input[type=button],
button,
input[type=submit] {
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: 0;
	border: none;
	vertical-align: baseline;
	background-color: #e0e0e0;
	color: rgba(0,0,0,.6);
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	margin: 0 .25em 0 0;
	padding: .78571em 1.5em;
	text-transform: none;
	text-shadow: none;
	font-weight: 700;
	line-height: 1;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	background-image: none;
	border-radius: .2857rem;
	box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(39,41,43,.15)inset;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	-webkit-transition: opacity .1s ease, 
						background-color .1s ease,
						color .1s ease,
						box-shadow .1s ease,
						background .1s ease;
	        transition: opacity .1s ease,
	        			background-color .1s ease,
	        			color .1s ease,
	        			box-shadow .1s ease,
	        			background .1s ease;
}

input[type=button]:hover,
button:hover,
input[type=submit]:hover {
	background-color:#e8e8e8;
	background-image:none;
	box-shadow:'';
	color:rgba(0,0,0,.8);
}

.footer {
	margin: 16px 0 0 0;
}

header div,
.header h1 {
	margin-top: 0;
}

.header .second {
	font-size: 16px;
	font-size: 1.6rem;
	display: block;
	text-align: center;
}

@media (max-width: 320px) {
	header div,
	header h1 {
		width: 90%;
		top: 0;
		left: 0;
		padding: 8px;
	}
	.header .second {
		text-align: right;
	}
}

.header div a {
	text-decoration: none;
}

.breadcrumb ol {
	list-style-type: none;
	padding-left: 0;
}

.breadcrumb li {
	display: inline-block;
}

.wrap-content {
	margin-top: 80px;
}



/**************/
/* $Component */
/**************/

.comments ins {
	text-decoration: none;
}

.engine {
	margin-top: 8px;
}
.main li {
	margin-top: 16px;
}

.field,
.submit {
	margin: 8px 0 0;	
}

.field {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.login .field {
	float: left;
	width: 50%;
	padding-right: 8px;
}
.field + .field {
	padding-left: 8px;
	padding-right: 0;
}
.field label {
	font-weight: bold;
	display: block;
	margin-bottom: 4px;
}
.article input[type=text],
.field input {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: 0;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	padding: .67861em 1em;
	background: #fff;
	border: 1px solid rgba(39,41,43,.15);
	color: rgba(0,0,0,.8);
	border-radius: .2857rem;
	box-shadow: 0 0 0 0 transparent inset;
	-webkit-transition: background-color .2s ease,
						color .2s ease,
						box-shadow .2s ease,
						border-color .2s ease;
	        transition: background-color .2s ease,
	        			color .2s ease,
	        			box-shadow .2s ease,
	        			border-color .2s ease;
	margin: 0 0 16px 0;
}
.field input {
	width: 100%;
	vertical-align: top;
}

.article textarea {
	margin: 0 0 16px 0;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	padding: 0.78571em 1em;
	background: #ffffff;
	border: 1px solid rgba(39, 41, 43, 0.15);
	outline: none;
	color: rgba(0, 0, 0, 0.8);
	border-radius: 0.2857rem;
	box-shadow: 0em 0em 0em 0em transparent inset;
	-webkit-transition: background-color 0.2s ease, 
						color 0.2s ease, 
						box-shadow 0.2s ease, 
						border-color 0.2s ease;
	        transition: background-color 0.2s ease, 
	        			color 0.2s ease, 
	        			box-shadow 0.2s ease, 
	        			border-color 0.2s ease;
	font-size: 1em;
	height: 12em;
	min-height: 8em;
	max-height: 24em;
	line-height: 1.2857;
	resize: vertical;
}
.article textarea:focus {
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(39, 41, 43, 0.3);
  border-radius: 0em 0.2857rem 0.2857rem 0em;
  background: #ffffff;
  box-shadow: 1px 0em 0em 0em rgba(39, 41, 43, 0.3) inset;
  -webkit-appearance: none;
 }

.article input[type=text]:focus,
.field input:focus {
	color: rgba(0, 0, 0, 0.85);
	border-color: rgba(39, 41, 43, 0.3);
	border-radius: 0em 0.2857rem 0.2857rem 0em;
	background: #ffffff;
	box-shadow: 1px 0em 0em 0em rgba(39, 41, 43, 0.3) inset;
}

.field-categories {
	display: inline-block;
	margin-left: 16px;
	background: #fff;
	border: 1px solid rgba(39,41,43,.15);
	border-radius: .2857rem;
	box-shadow: 0 0 0 0 transparent inset;
	padding: .62em 1em;
	color: rgba(0,0,0,.8);
	-webkit-transition: background-color .2s ease,color .2s ease,box-shadow .2s ease,border-color .2s ease;
	        transition: background-color .2s ease,color .2s ease,box-shadow .2s ease,border-color .2s ease;	
}

.loading.loading.loading.loading.loading.loading.create-article-button,
.loading.loading.loading.loading.loading.loading.account-login-button,
.loading.loading.loading.loading.loading.loading.account-logout-button,
.loading.loading.loading.loading.loading.loading.delete-article-button,
.loading.loading.loading.loading.loading.loading.update-article-button {
	position: relative;
	cursor: default;
	text-shadow: none!important;
	color: transparent!important;
	opacity: 1;
	pointer-events: none;
	-webkit-transition: all 0s linear,
						opacity .2s ease;
	        transition: all 0s linear,
	        			opacity .2s ease;
	font-size: 1rem;
}

.loading.create-article-button:before,
.loading.account-login-button:before,
.loading.account-logout-button:before,
.loading.delete-article-button:before,
.loading.update-article-button:before {
	position: absolute;
	content: '';
	top: 45%;
	left: 50%;
	margin: -.64285em 0 0 -.64285em;
	width: 1.2857em;
	height: 1.2857em;
	border-radius: 500rem;
	border: .2em solid rgba(0,0,0,.15);
}

.loading.create-article-button:after,
.loading.account-login-button:after,
.loading.account-logout-button:after,
.loading.delete-article-button:after,
.loading.update-article-button:after {
	position: absolute;
	content: '';
	top: 45%;
	left: 50%;
	margin: -.64285em 0 0 -.64285em;
	width: 1.2857em;
	height: 1.2857em;
	-webkit-animation: button-spin .6s linear;
	        animation: button-spin .6s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	border-radius: 500rem;
	border-color: #fff transparent transparent;
	border-style: solid;
	border-width: .2em;
	box-shadow: 0 0 0 1px transparent;
}

@-webkit-keyframes button-spin {
	from {
    	-webkit-transform: rotate(0deg);
                transform: rotate(0deg);
  	}
  	to {
    	-webkit-transform: rotate(360deg);
                transform: rotate(360deg);
  	}
}
@keyframes button-spin {
	from {
    	-webkit-transform: rotate(0deg);
                transform: rotate(0deg);
	}
  	to {
		-webkit-transform: rotate(360deg);
                transform: rotate(360deg);
  	}
}

.field-markdown, .field-published {
	cursor: pointer;
	min-height: 1.5rem;
	position: relative;
	display: inline-block;
	min-height: 17px;
	line-height: 15px;
	min-width: 17px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	outline: 0;
	vertical-align: middle;
	margin-bottom: 16px;
}
.field-markdown input, .field-published input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	outline: 0;
	z-index: -1;
}

.field-markdown label, .field-published label {
	min-height: 1.5rem;
	padding-left: 4.5rem;
	color: rgba(0,0,0,.8);
	display: block;
	cursor: pointer;
	padding-left: 3em;
	outline: 0;
	font-size: 1em;
	margin-right: 16px;
}
.field-markdown.checked label, .field-published.checked label {
	color: #48739E;
}

.field-markdown label:after, .field-published label:after {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 17px;
	width: 17px;
	height: 17px;
	text-align: center;
	opacity: 0;
	color: rgba(0,0,0,.8);
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
	background: -webkit-linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
	background: linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
	position: absolute;
	content: '';
	opacity: 1;
	z-index: 2;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.05),0 0 0 1px rgba(39,41,43,.15) inset;
	width: 1.5rem;
	height: 1.5rem;
	top: 0;
	left: 0;
	border-radius: 500rem;
	-webkit-transition: background .3s ease 0s,left .3s ease 0s;
	transition: background .3s ease 0s,left .3s ease 0s;
	left: -.05rem;
}

.field-markdown.checked label:after, .field-published.checked label:after {
	left: 2.05rem;
	opacity: 1;
}

.field-markdown label:before, .field-published label:before {
	position: absolute;
	line-height: 1;
	width: 17px;
	height: 17px;
	top: 0;
	left: 0;
	content: '';
	background: #fff;
	border-radius: .25em;
	-webkit-transition: background-color .3s ease,border .3s ease,box-shadow .3s ease;
	transition: background-color .3s ease,border .3s ease,box-shadow .3s ease;
	border: 1px solid #d4d4d5;
	cursor: pointer;
	display: block;
	position: absolute;
	content: '';
	top: 0;
	z-index: 1;
	border: none;
	background-color: rgba(0,0,0,.05);
	width: 3.5rem;
	height: 1.5rem;
	border-radius: 500rem;
}
.field-markdown.checked label:before, .field-published.checked label:before {
	background-color: #48739E;
}

.delete-article-button:hover,
.delete-article-button {
	color: #48739E;
	background-color: transparent;
}

.delete-article-button:hover {
	color: #CC0000;
}


.best-practice .content > :first-child,
.correct-practice .content > :first-child,
.worst-practice .content :first-child,
.content form:first-child > :first-child,
.content section:first-child > :first-child,
.content article:first-child > :first-child {
	margin-top: 0;
}

@media (max-width: 779px) {
	.home .content section:first-child > :first-child,
	.articles-by-year .content section:first-child > :first-child,
	.articles-by-month .content section:first-child > :first-child,
	.articles-by-category .content section:first-child > :first-child {
		margin-top: 32px;
	}
}

.articles .categories ul {
	margin-top: 24px;
}

.article .categories ul {
	margin-top: 8px;
}

.article .categories ul,
.articles .categories ul {
	padding-left: 4px;
}

.article .categories li,
.articles .categories li {
	display: inline-block;
	margin-right: 8px;
	margin-top: 8px;
	padding: 2px 8px;
	border-radius: 4px;
	background-color: #EFF2F4;
	margin-left: -4px;
}

.published,
article .comments,
.articles .comments {
	display: inline-block;
	margin-top: 16px;
	margin-right: 16px;
	padding-left: 16px;
	position: relative;
}

.categories strong {
	cursor: pointer;
}

.correct-practice, 
.best-practice, 
.worst-practice {
	margin: 0;
	margin-top: 12px;
	padding: 0;
	border-radius: 4px;
}

.correct-practice .title, 
.worst-practice .title, 
.best-practice .title {
	margin: 4px;
	padding: 2px 6px 2px 6px;
}

.correct-practice .content, 
.best-practice .content, 
.worst-practice .content {
	margin: 4px 4px 4px 4px;
	padding: 2px 6px 2px 6px;
}

.correct-practice .title + .content, 
.best-practice .title + .content, 
.worst-practice .title + .content {
	margin: 0 4px 4px 4px;
}

.best-practice {
	border: solid 1px #fff;
	background-color: #E4F8F2;
}

.best-practice .title {
	background-color: #C4E4D4;
}

.best-practice .content {
	background-color: #ecfaf6;
	border: dashed 1px #c4e4d4;
}

.worst-practice {
	border: solid 1px #fff;
	background-color: #F8ECE4;
}

.worst-practice .title {
	background-color: #EED0CA;
}

.worst-practice .content {
	background-color: #FDF4EC;
	border: dashed 1px #EED0CA;
}

.correct-practice {
	border: solid 1px #fff;
	background-color: #E4ECF8;
}

.correct-practice .title {
	background-color: #CAD0EE;
}

.correct-practice .content {
	background-color: #F4F8FD;
	border: dashed 1px #CAD0EE;
}

.pln { 
	color: #000;
}

.str { 
	color: #800080;
}

.kwd { 
	color: #008;
}

.com { 
	color: #008000;
	font-style: italic;
}

.typ { 
	color: #606;
}

.lit { 
	color: #066;
}

.pun,
.opn,
.clo { 
	color: #660; 
}
.tag {
	color: #008; 
}

.atn { 
	color: #606; 
}

.atv { 
	color: #080; 
 }

.dec, 
.var { 
	color: #606; 
 } 

.fun { 
	color: red; 
}

pre.prettyprint { 
	font-family: monospace;
	padding: 2px;
	border: 1px dashed #ccc;
	overflow-y: auto;
	background: #fff;
	cursor: e-resize;
	font-size: 1.0em;
}

ol.linenums { 
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 35px;
}

li.L0,
li.L2,
li.L4,
li.L6,
li.L8 { 
	background: #fff;
	color: #ccc;
 }

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { 
	background: #fbfbfb; 	
	color: #ccc;
}

.disqus {
	margin-top: 16px;
}

.delete-article-button {
	cursor: pointer;
	border: 0;
	background-color: transparent;
}


.summary ul  {
	margin-top: 0;
	list-style-type: circle;
}

.summary > ul:nth-child(2)  {
	margin-top: 16px;
}

.summary ul li {
	font-size: 16px;
	margin-top: 4px;
}

.summary ul li > ul li {
	font-size: 15px;
}

.summary ul li > ul li > ul li {
	font-size: 14px;
}

.summary ul li > ul li  > ul li > ul li {
	font-size: 13px;
}


.summary ul li > ul li  > ul li > ul li > ul li {
	font-size: 12px;
}

.summary ul ul {
	padding-left: 16px;
}


/***********/
/* $Layout */
/***********/


.articles-by-year .archives ul,
.articles-by-month .archives ul,
.articles-by-category .categories ul {
	list-style-type: circle;
}

.articles-by-year .archives h1,
.articles-by-month .archives h1,
.articles-by-category .categories h1 {
	font-size: 21px;
	font-size: 2.1rem;
}

.articles-by-year .archives h2,
.articles-by-month .archives h2,
.articles-by-category .categories h2 {
	font-size: 16px;
	font-size: 1.6rem;
}

.articles-by-year .archives h3,
.articles-by-month .archives h3,
.articles-by-category .categories h3,
.articles-by-category .categories h3 {
	font-size: 15px;
	font-size: 1.5rem;
}

.articles-by-category .categories h4 {
	font-size: 14px;
	font-size: 1.4rem;
}

.articles-by-year .to-know .archives ul,
.articles-by-year .to-know .archives h2,
.articles-by-year .to-know .archives h3,
.articles-by-year .to-know .archives h4,
.articles-by-month .to-know .archives ul,
.articles-by-month .to-know .archives h2,
.articles-by-month .to-know .archives h3,
.articles-by-month .to-know .archives h4,
.articles-by-category .to-know .categories ul,
.articles-by-category .to-know .categories h2,
.articles-by-category .to-know .categories h3,
.articles-by-category .to-know .categories h4 {
	margin-top: 0;
}

.articles-by-year .to-know .archives li,
.articles-by-month .to-know .archives li,
.articles-by-category .to-know .categories li {
	margin-top: 4px;
}

.articles-by-year .archives li,
.articles-by-month .archives li {
	display: inline-block;
}

.articles-by-year .archives ul ul li a:after,
.articles-by-month .archives ul ul li a:after {
	content: "/";
	display: inline-block;
	margin-left: 6px;
	margin-right: 4px;
}

.articles-by-year .archives ul ul li:last-child a:after,
.articles-by-month .archives ul ul li:last-child a:after {
	content: "";
}

.articles-by-year .to-know .archives > :nth-child(2),
.articles-by-month .to-know .archives > :nth-child(2),
.articles-by-category .to-know .categories > :nth-child(2) {
	margin-top: 16px;
}

.articles-by-month .archives ul ul,
.articles-by-year .archives ul ul {
	padding-left: 24px;	
}
.articles-by-category .categories ul ul {
	padding-left: 16px;
}

.about-author figure {
	float: left;
	margin: 0;
	margin-top: 4px;
	margin-right: 8px;
}

.about-author img {
	margin: 0;
}

.popup {
	display: none;
}

figure {
	text-align: center;
	margin-left:0;
	margin-right:0;
}
figure img {
	max-width: 100%;
}
figure figcaption {
	font-style: italic;
}