@font-face {
	font-family: 'Regular';
	src: url('../media/fonts/regular-light.eot?#iefix') format('embedded-opentype'),
		 url('../media/fonts/regular-light.otf')  format('opentype'),
		 url('../media/fonts/regular-light.woff') format('woff'),
		 url('../media/fonts/regular-light.ttf')  format('truetype'),
		 url('../media/fonts/regular-light.svg#regular-light') format('svg');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'Regular';
	src: url('../media/fonts/regular-bold.eot?#iefix') format('embedded-opentype'),
		 url('../media/fonts/regular-bold.otf')  format('opentype'),
		 url('../media/fonts/regular-bold.woff') format('woff'),
		 url('../media/fonts/regular-bold.ttf')  format('truetype'),
		 url('../media/fonts/regular-bold.svg#regular-bold') format('svg');
	font-weight: bold;
	font-style: normal;
}