<% include templates/master-head.htm %>

<% include templates/master-content.htm %>

		<div id="content" class="content">

			<% include templates/article.htm %>

		</div>

		<% if (backend && backend.article) { %>
			<div class="about-author">
				<figure><img src="<%-: common.aboutAuthor.image.src | editAttr: ['common.aboutAuthor.image.src', edit, 'src'] %>" width="<%-: common.aboutAuthor.image.width | editAttr: ['common.aboutAuthor.image.width', edit, 'width'] %>" height="<%-: common.aboutAuthor.image.height | editAttr: ['common.aboutAuthor.image.height', edit, 'height'] %>" alt="<%-: common.aboutAuthor.image.alt | editAttr: ['common.aboutAuthor.image.alt', edit, 'alt'] %>"></figure>

				<h2><%-: common.aboutAuthor.title | editText: ['common.aboutAuthor.title', edit] %></h2>

				<p><%-: common.aboutAuthor.content | editText: ['common.aboutAuthor.content', edit] %></p>
			</div>

			<% if (backend.article.categories) { %>
				<div class="categories">
					<h3><%- common.categories.title2 %></h3>

					<% if (session.account) { %>
					<ul data-url="<%= common.categories.link.href  %>" data-title="<%= common.categories.link.title %>">
					<% } else { %>
					<ul>
					<% } %>

						<% for (var j = 0; j < backend.article.categories.length; j++) { %>
							<li data-urn="<%- backend.article.categories[j].urn %>"><a href="<%= common.categories.link.href.replace(/%urn%/g, backend.article.categories[j].urn) %>" title="<%- common.categories.link.title %> <%- backend.article.categories[j].title %>"><%- backend.article.categories[j].title %></a></li>
						<% } %>
					</ul>
				</div>

				<div class="summary">
					<h3><%- common.summary.title %></h3>
				</div>
			<% } %>
		<% } %>

		<% if (backend && backend.article) { %>
		<div class="comment">
			<div class="disqus" id="disqus_thread"></div>
		</div>
		<% } %>

<% include templates/header.htm %>
<% include templates/footer.htm %>
		<% if (webconfig.bundles) { %>
		<script type="text/javascript" src="javascript/jquery/jquery.form.min.js"></script>
		<% } else { %>
		<script type="text/javascript" src="javascript/jquery/jquery.form.js"></script>
		<% } %>
<% include templates/master-foot.htm %>