<% include templates/master-head.htm %>

<% include templates/master-content.htm %>

		<div class="about-site">
			<h2><%-: common.aboutSite.title | editText: ['common.aboutSite.title', edit] %></h2>

			<p><%-: common.aboutSite.content | editText: ['common.aboutSite.content', edit] %></p>
		</div>

		<div id="content" class="content">

			<% include templates/articles.htm %>
			
		</div>

<% include templates/header.htm %>
<% include templates/footer.htm %>

<% include templates/master-foot.htm %>