<% include templates/master-head.htm %>

<% include templates/master-content.htm %>

		<div id="content" class="content">

			<% if (!session.account) { %>

				<form class="form-account-login" action="./espace-membres/" method="post">
					<h1><%- specific.title %></h1>
					
					<div class="field email">
						<label for="account-login-email"><%- specific.formLogin.email.label %></label>
						<input type="text" id="account-login-email" class="account-login-email" name="email" placeholder="<%= specific.formLogin.email.placeHolder %>">
						<div class="errors">
							<div class="empty"><%- specific.formLogin.email.errors.empty %></div>
							<div class="bad-email-format"><%- specific.formLogin.email.errors.notEmailFormat %></div>
						</div>
					</div>

					<div class="field password">
						<label for="account-login-password"><%- specific.formLogin.password.label %></label>
						<input type="password" id="account-login-password" class="account-login-password" name="password" placeholder="<%- specific.formLogin.password.placeHolder %>">
						<div class="errors">
							<div class="empty"><%- specific.formLogin.password.errors.empty %></div>
						</div>
					</div>

					<div class="submit">
						<div class="errors">
							<div class="empty"><%- specific.formLogin.submit.errors.badAuth %></div>
						</div>
						<label><input type="button" class="account-login-button" value="<%= specific.formLogin.submit.label %>"></label>
					</div>
				</form>
			<% } else { %>
				<form class="form-account-logout" action="./espace-membres/" method="post">
					<h1><%-: specific.titleConnected | editText: ['specific.titleConnected', edit] %></h1>
					
					<div class="submit">
						<label><input type="button" class="account-logout-button" value="<%-: specific.formLogout.submit.label | editAttr: ['specific.formLogout.submit.label', edit, 'value'] %>"></label>
					</div>
				</form>
			<% } %>
		</div>

<% include templates/header.htm %>
<% include templates/footer.htm %>

<% include templates/master-foot.htm %>