				<!--<form class="form-upload-avatar" action="./upload/" method="POST" enctype="multipart/form-data">
					<img src="" class="img-upload-avatar" alt="<%= common.articles.uploadAvatar.alt %>">
					<input type="file" id="file-upload-avatar" name="file-upload-avatar" class="file-upload-avatar">
					<input type="text" id="file-upload-text" name="file-upload-text" class="file-upload-text" value="Toto">
					<input type="button" class="button-upload-avatar" value="<%= common.articles.uploadAvatar.button %>">
				</form>-->

				<% if (backend && backend.article) { %>

					<% if (session.account) { %>
					<form class="form-account-logout" action="" method="post">
						<div class="submit">
							<label><input type="button" class="update-article-button" value="<%= specific.article.updateArticle.button %>"></label>
						</div>
					</form>
					<% } %>

					<article class="article" data-urn="<%= backend.article.urn %>" <% if (backend.article.others.markdown) { %>data-markdown="true"<% } %> <% if (backend.article.others.published) { %>data-published="true"<% } %>>
						<h1><%- backend.article.title %></h1>
						<div class="published">
							<% var month = backend.article.dates.published.getMonth() + 1 %>
							<% month = ((month.toString().length > 1) ? '' : '0') + month %>
							<% var fullMonth = common.dates.months[backend.article.dates.published.getMonth()] %>
							<% var fullYear = backend.article.dates.published.getFullYear() %>
							<a href="<%- common.listDate.linkMonth.href.replace(/%year%/g, fullYear).replace(/%month%/g, month) %>" title="<%- common.listDate.linkMonth.title.replace(/%year%/g, fullYear).replace(/%month%/g, fullMonth) %>"><time datetime="<%= backend.article.dates.format.time %>">
								<%- backend.article.dates.format.string %>
							</time></a>
						</div>
						<div class="comments">
							<a href="<%- common.articles.readMore.href.replace(/%urn%/g, backend.article.urn) %>" title="<%- backend.article.title.replace(/<\/?span>/g, '') %>">
								<%- backend.article.cache.comment.number %> <%- (backend.article.cache.comment.number > 1) ? common.comments.commentMultiple : common.comments.commentSimple %>
							</a>
						</div>
						<div class="text">
							<%- backend.article.content %>
						</div>
					</article>

				<% } else { %>

					<div class="no-article" data-urn="<%= urlPath.match(/([^\/]+)\/?$/g)[0].replace("/","") %>">
						<section>
							<h1><%- specific.noArticle.noArticle %></h1>

							<% if (session.account) { %>
								<form class="form-create-article" action="<%= urlPath %>" method="POST">
									<div class="field">
										<label for="create-article-title"><%- specific.noArticle.createArticle.title.label %></label>
										<input type="text" id="create-article-title" name="create-article-title" class="create-article-title" value="<%= urlPath.match(/([^\/]+)\/$/g)[0].replace("/","").replace(/-/g," ") %>">
										<div class="errors">
											<div class="empty"><%- specific.noArticle.createArticle.title.errors.empty %></div>
										</div>
									</div>
									<div class="submit">
										<input type="button" class="create-article-button" value="<%= specific.noArticle.createArticle.button %>">
									</div>
								</form>
							<% } %>
						</section>
					</div>
				<% } %>