			<nav class="breadcrumb">
				<span><%= specific.breadcrumb.title %></span>
				<ol>
					<% for (var i = 0; i < specific.breadcrumb.items.length; i++) { %>
					<li>
						<% if (specific.breadcrumb.items[i].title !== '') { %>
							<a href="<%= specific.breadcrumb.items[i].href %>" title="<%= specific.breadcrumb.items[i].title %>"><%= specific.breadcrumb.items[i].content %></a>
						<% } else { %>
							<%= specific.breadcrumb.items[i].content %>
						<% } %>
					</li>
					<% } %>
				</ol>
			</nav>