				<section class="categories">
					<h1><%- common.categories.title %></h1>

					<% function treeOfCategories(categories, level) { %>
						<% if (categories.length !== 0) { %>
						<ul>
							<% for (var i = 0; i < categories.length; i++) { %>
								<li>
									<h<%- level %>> <a href="<%- common.categories.link.href.replace(/%urn%/g, categories[i].urn) %>" title="<%- common.categories.link.title %> <%- categories[i].title %>"><%- categories[i].title %></a></h<%- level %>>
									<% treeOfCategories(categories[i].categories, level + 1) %>
								</li>
							<% } %>
						</ul>
						<% } %>
					<% } %>
					<% treeOfCategories(backend.categories, 2) %>
				</section>