

		<footer id="footer" class="footer">
			<div class="copyright"><%- common.copyright %></div>
			<div class="engine"><%- common.engine %></div>
		</footer>	
	</div>

	<!--<code class="var">
		<var class="design-path">default</var>
		<var class="culture-code">fr</var>
		<var class="country-code">FR</var>
		<% for (var i = 1; i < common.dates.months.length; i++) { %>
			<var class="month-<%= i %>"><%= common.dates.months[i] %></var>
		<% } %>
	</code>-->

	<script type="text/javascript" src="/socket.io/socket.io.v0.9.16.js"></script>
	<% if (webconfig._minified) { %>
	<script type="text/javascript" src="javascript/framework.min.js"></script>
	<% } else { %>
	<script type="text/javascript" src="javascript/modernizr.js"></script>
	<script type="text/javascript" src="javascript/jquery.js"></script>
	<script type="text/javascript" src="javascript/prettify.js"></script>
	<script type="text/javascript" src="javascript/prettify/run_prettify.js"></script>
	<% } %>