

		<footer id="footer" class="footer">
			<div class="copyright"><%-: common.copyright | editHtml: ['common.copyright', edit] %></div>
			<div class="engine"><%-: common.engine | editHtml: ['common.engine', edit] %></div>
		</footer>	
	</div>

	<% if (webconfig.bundles) { %>
	<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script type="text/javascript" src="javascript/framework.min.js"></script>
	<% } else { %>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascript/modernizr.js"></script>
	<script type="text/javascript" src="javascript/jquery.js"></script>
	<script type="text/javascript" src="javascript/prettify.js"></script>
	<script type="text/javascript" src="javascript/prettify/run_prettify.js"></script>
	<% } %>