		<header id="header" class="header" role="banner">
			<% var tag = (specific.classLayout === "home") ? "h1" : "div" %>
			<<%= tag %>>
				<a href="<%-: common.logo.href | editAttr: ['common.logo.href', edit, 'href'] %>" title="<%-: common.logo.title | editAttr: ['common.logo.title', edit, 'title'] %>">
					<%-: common.logo.content | editHtml: ['common.logo.content', edit, true] %>
				</a>
			</<%= tag %>>
		</header>
		
		<nav class="main" id="menu">
			<h3><%-: common.mainMenu.mainTitle | editText: ['common.mainMenu.mainTitle', edit] %></h3>
			<a class="menu" href="<%= urlPath %>#menu"></a>
			<ul>
				<% for (var i = 0; i < common.mainMenu.section.length; i++) { %>
				<li class="<%-: common.mainMenu.section[i].class | editAttr: ['common.mainMenu.section[' + i + '].class', edit, 'class', true] %>">
					<a href="<%-: common.mainMenu.section[i].href | editAttr: ['common.mainMenu.section[' + i + '].href', edit, 'href', true] %>" title="<%-: common.mainMenu.section[i].title | editAttr: ['common.mainMenu.section[' + i + '].title', edit, 'title', true] %>"><%-: common.mainMenu.section[i].content | editText: ['common.mainMenu.section[' + i + '].content', edit, 'content', true] %></a>
				</li>
				<% } %>						
			</ul>
		</nav>

		<nav class="breadcrumb">
			<ol>
				<% for (var i = 0; i < specific.breadcrumb.items.length; i++) { %>
				<li>
					<% if (specific.breadcrumb.items[i].title !== '') { %>
						<a href="<%-: specific.breadcrumb.items[i].href | editAttr: ['specific.breadcrumb.items[' + i + '].href', edit, 'href', true] %>" title="<%-: specific.breadcrumb.items[i].title | editAttr: ['specific.breadcrumb.items[' + i + '].title', edit, 'title', true] %>"><ins class="double angle right icon"></ins><%-: specific.breadcrumb.items[i].content | editText: ['specific.breadcrumb.items[' + i + '].content', edit, undefined, true] %></a>
					<% } else { %>
						<ins class="double angle right icon"></ins><%-: specific.breadcrumb.items[i].content | editText: ['specific.breadcrumb.items[' + i + '].content', edit, undefined, true] %>
					<% } %>
				</li>
				<% } %>
			</ol>
		</nav>

		<% if (typeof session !== 'undefined' && session.account) { %>
		<div class="popup">
			<section class="popup-content">
				<div class="close"><input type="button" class="next-variation-change" value="<%-: common.editableArea.close | editAttr: ['common.editableArea.close', edit, 'value'] %>"></div>
				<h1><%-: common.editableArea.title | editText: ['common.editableArea.title', edit] %></h1>
				<div class="template html">
					<hr>
					<label><span class="info"></span> <%-: common.editableArea.htmlInfo | editText: ['common.editableArea.htmlInfo', edit] %></label>
					<textarea cols="30" rows="10"></textarea>
					<span class="source"><em><%-: common.editableArea.sourceInfo | editText: ['common.editableArea.sourceInfo', edit] %></em></span>
				</div>
				<div class="template text">
					<hr>
					<label><span class="info"></span></label>
					<input type="text">
					<span class="source"><em><%-: common.editableArea.sourceInfo | editText: ['common.editableArea.sourceInfo', edit] %></em></span>
				</div>
				<div class="insert"></div>
				<div class="submit">
					<label><input type="button" class="next-variation-change" value="<%-: common.editableArea.next | editAttr: ['common.editableArea.next', edit, 'value'] %>"></label>
					<label><input type="button" class="update-variation-change" value="<%-: common.editableArea.submit | editAttr: ['common.editableArea.submit', edit, 'value'] %>"></label>
				</div>
			</section>
		</div>
		<% } %>