		<header id="header" class="header" role="banner">
			<% var tag = (specific.classLayout === "home") ? "h1" : "div" %>
			<<%= tag %>>
				<a href="<%= common.logo.href %>" title="<%= common.logo.title %>">
					<%- common.logo.content %>
				</a>
			</<%= tag %>>
		</header>
		
		<nav class="main" id="menu">
			<h3>Menu</h3>
			<a class="menu" href="<%= urlPath %>#menu"></a>
			<ul>
				<% for (var i = 0; i < common.mainMenu.section.length; i++) { %>
				<li class="<%= common.mainMenu.section[i].class %>">
					<a href="<%= common.mainMenu.section[i].href %>" title="<%= common.mainMenu.section[i].title %>"><%= common.mainMenu.section[i].content %></a>
				</li>
				<% } %>						
			</ul>
		</nav>

		<nav class="breadcrumb">
			<ol>
				<% for (var i = 0; i < specific.breadcrumb.items.length; i++) { %>
				<li>
					<% if (specific.breadcrumb.items[i].title !== '') { %>
						<a href="<%= specific.breadcrumb.items[i].href %>" title="<%= specific.breadcrumb.items[i].title %>"><ins class="double angle right icon"></ins><%= specific.breadcrumb.items[i].content %></a>
					<% } else { %>
						<ins class="double angle right icon"></ins><%= specific.breadcrumb.items[i].content %>
					<% } %>
				</li>
				<% } %>
			</ol>
		</nav>