		<header id="header" class="header" role="banner">
			<% var tag = (specific.classLayout === "home") ? "h1" : "div" %>
			<<%= tag %>>
				<a href="<%-: common.logo.href | editAttr: ['common.logo.href', edit, 'href'] %>" title="<%-: common.logo.title | editAttr: ['common.logo.title', edit, 'title'] %>">
					<%-: common.logo.content | editHtml: ['common.logo.content', edit, true] %>
				</a>
			</<%= tag %>>
		</header>
		
		<nav class="main" id="menu">
			<h3>Menu</h3>
			<a class="menu" href="<%= urlPath %>#menu"></a>
			<ul>
				<% for (var i = 0; i < common.mainMenu.section.length; i++) { %>
				<li class="<%= common.mainMenu.section[i].class %>">
					<a href="<%= common.mainMenu.section[i].href %>" title="<%= common.mainMenu.section[i].title %>"><%= common.mainMenu.section[i].content %></a>
				</li>
				<% } %>						
			</ul>
		</nav>

		<nav class="breadcrumb">
			<ol>
				<% for (var i = 0; i < specific.breadcrumb.items.length; i++) { %>
				<li>
					<% if (specific.breadcrumb.items[i].title !== '') { %>
						<a href="<%= specific.breadcrumb.items[i].href %>" title="<%= specific.breadcrumb.items[i].title %>"><ins class="double angle right icon"></ins><%= specific.breadcrumb.items[i].content %></a>
					<% } else { %>
						<ins class="double angle right icon"></ins><%= specific.breadcrumb.items[i].content %>
					<% } %>
				</li>
				<% } %>
			</ol>
		</nav>

		<% if (typeof session !== 'undefined' && session.account) { %>
		<div class="popup">
			<section class="popup-content">
				<div class="close"><input type="button" class="next-variation-change" value="Fermer"></div>
				<h1>Zone d'édition de contenu</h1>
				<div class="template html">
					<hr>
					<label>Label</label>
					<textarea cols="30" rows="10"></textarea>
				</div>
				<div class="template text">
					<hr>
					<label>Label</label>
					<input type="text">
				</div>
				<div class="insert"></div>
				<div class="submit">
					<label><input type="button" class="next-variation-change" value="Continuer avant d'envoyer"></label>
					<label><input type="button" class="update-variation-change" value="Modifier"></label>
				</div>
			</section>
		</div>
		<% } %>