		<script type="text/javascript" src="javascript/modernizr.js"></script>
	</head>
	<body class="<%= specific.classLayout %>">
		<noscript>
			<p><%= common.javascriptDisable %></p>
		</noscript>

		<div class="permalink">
			<%= common.permalink %> <%= urlPath %>
		</div>

		<div class="skip-link">
			<span><%= common.skipLink.title %></span>
			<ul>
				<% for (var i = 0; i < common.skipLink.items.length; i++) { %>				
				<li>
					<a href="<%= common.skipLink.items[i].href %>" title="<%= common.skipLink.items[i].title %>"><%= common.skipLink.items[i].content %></a>
				</li>
				<% } %>								
			</ul>
		</div>