<!DOCTYPE html>
<!--[if lte 8]><html lang="fr" class="old-ie"><![endif]-->
<!--[if IE 9]><html lang="fr" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="fr" class="<%= webconfig._minified.replace(".", "") %>"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title><%= specific.titlePage %></title>

		<base href="<%= urlBasePath %>" />
		
		<meta name="description" content="<%= specific.description %>" />
		<meta name="geo.placename" content="<%= common.placename %>" />
		
		<meta name="robots" content="<%= common.indexFollow %>" />
		
		<!--[if IE]><meta name="viewport" content="width=device-width, user-scalable=no" /><![endif]-->
		<!--[if !IE]><!--><meta name="viewport" content="initial-scale=1.0, user-scalable=no" /><!--<![endif]-->

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700">
		<link rel="alternate" type="application/rss+xml" title="Quelques #ID et beaucoup de .CLASS" href="<%= urlBasePath %>feed.xml" /> 
		<% if (webconfig._minified) { %>
		<link rel="stylesheet" type="text/css" href="stylesheets/common.min.css" />
		<% } else { %>
		<link rel="stylesheet" type="text/css" href="stylesheets/common.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/common-min780.css" media="screen and (min-width: 780px)" />
		<link rel="stylesheet" type="text/css" href="stylesheets/common-min1160.css" media="screen and (min-width: 1160px)" />
		<% } %>

		<% if ((typeof backend !== 'undefined' && backend.article && backend.article.stylesheet) || session.account) { %>
			<style class="stylesheet" type="text/css"><%- (typeof backend !== 'undefined' && backend.article && backend.article.stylesheet) ? backend.article.stylesheet : "" %></style>
		<% } %>

		<!-- <link rel="stylesheet" type="text/css" media="print" href="stylesheets/common-print.css" /> -->