<!DOCTYPE html>
<!--[if lte 8]><html lang="fr" class="old-ie"><![endif]-->
<!--[if IE 9]><html lang="fr" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="fr" class="<%= webconfig._minified.replace(".", "") %>"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title><%= specific.titlePage %></title>

		<base href="<%= urlBasePath %>" />
		
		<meta name="description" content="<%= specific.description %>" />
		<meta name="geo.placename" content="<%= common.placename %>" />
		
		<meta name="robots" content="<%= common.indexFollow %>" />
		
		<!--[if IE]><meta name="viewport" content="width=device-width, user-scalable=no" /><![endif]-->
		<!--[if !IE]><!--><meta name="viewport" content="initial-scale=1.0, user-scalable=no" /><!--<![endif]-->

		<% if (webconfig._minified) { %>
		<link rel="stylesheet" type="text/css" href="stylesheets/common.min.css" />
		<% } else { %>
		<link rel="stylesheet" type="text/css" href="stylesheets/common.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/common-min780.css" media="screen and (min-width: 780px)" />
		<link rel="stylesheet" type="text/css" href="stylesheets/common-min1160.css" media="screen and (min-width: 1160px)" />
		<% } %>

		<!-- <link rel="stylesheet" type="text/css" media="print" href="stylesheets/common-print.css" /> -->